#Bölüm 3: Veri temizleme alıştırması

### Satış departmanı performans analizi

İK departmanı, satış departmanındaki çalışanların performansını analiz etmek istiyor.

### Veri Okuma
Rachel, gerekli tüm bilgileri içeren bir çalışan_gelir.txt metin dosyası yazdı ancak gerekli bilgileri çıkarmak için yardıma ihtiyacı var.

Employee_revenue dosyasını çalışma dizinine yükleyerek başlayın.

📌 Metin dosyasını okuma modunda açmak ve onu "data" değişkenine atamak için .read() yöntemini kullanın.

In [226]:
#Open the file in read mode
file = open("employee_revenue.txt", "r")
data = file.read()
file.close()
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

In [227]:
#Print the data
print(data)
file.close()

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Veri temizleme

Bu satırlardan verilerin temizlenmesi ve bilgilerin çıkarılması gerektiğini görebilirsiniz.

Verileri temizleyebilmek için metni satırlara ayırmanız gerekir.

📌 .splitlines() yöntemini kullanın.

In [228]:
#Seperate the data into lines ;
lines = data.splitlines()
print(lines)

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Veriyi satır satır temizleyin

İlk satırın verilerini temizlemeye başlayın.

📌 Dizenin kenarlarındaki boşlukları kaldırmak için .strip() yöntemini kullanın.

In [229]:
#Take the first line
string = lines[0]

In [230]:
#Remove the whitespaces from the edges
string = string.strip(" ")
print(string)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

Daha sonra, büyük harf kullanımı sorunlarını düzeltmeniz gerekir.

📌 Metni küçük harfe dönüştürmek için .lower() yöntemini kullanın.

📌 Daha sonra ilk harfi büyük yapmak için .capitalize() yöntemini kullanın.

In [231]:
#Convert the string to lowercase
string = string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [232]:
#Capitalize the first character
string = string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'


### Bilgi Çıkarma

Bilgiyi çıkarmak için cümleyi kelimelere bölmeniz gerekir.

📌 .split() yöntemini kullanın.

In [233]:
#Split the sentece into words
split_string = string.split(" ")
split_string

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']


Listedeki ilk öğenin isim, üçüncü öğenin ise çağrı sayısı olduğunu fark etmişsinizdir.

📌 Çağrıların adını ve sayısını çıkarmak için indeksleri kullanın

In [234]:
#Use the index 0 to access the name element
name = split_string[0]
name

'Ben'

In [235]:
#Use the index 2 to access the number of calls element
call_number = split_string[2]
call_number

'300'

Şimdiye kadar, çok iyi!

Ama gördüğünüz gibi 7. elementten sonra cümle sırası aynı değil.

Ortalama anlaşma boyutunu ortaya çıkarmak için farklı bir yaklaşım bulmanız gerekir. İlgili öğeyi bulmak için "$" işaretini kullanabilirsiniz.

📌 "$" işaretini içeren öğeyi bulmak için listenin üzerinde dolaşın.

📌 Daha sonra dizeyi sayıya ve $ işaretine bölmek için .split() yöntemini kullanın.

In [236]:
#Find the element with the "$" sign
for i in split_string:
  #Divide the number from it
    if "$" in i:
        average_deal_size = i.split("$")[0]
#Print the average deal size
average_deal_size #dolar bulunan ifadenin önünde 8 var

'8'

Benzer şekilde, "dolar" dizesinden hemen önceki öğe olan geliri elde etmek için "dolar" dizesini kullanabiliriz.

📌 "Dolar" öğesinin indeksini tanımlamak için .index() yöntemini kullanın.

📌 Daha sonra geliri belirlemek ve çıkarmak için bu endeksi kullanın.

In [237]:
#Find the index of element "dollars"
dollars_index = split_string.index("dollars")
dollars_index

7

In [238]:
#Gelir öğesinin endeksini belirlemek için endeksten birini çıkarın
revenue_index = dollars_index - 1
revenue_index

6

In [239]:
#Extract the revenue
revenue =split_string[revenue_index]
revenue

'2400'

Great! You extracted all necessary information.

📌 Print the information and check the types of the data.

In [240]:
#Çıkarılan bilgilerin çıktısını alın
print("Name",name)
print("Number of calls:", call_number)
print("Average deal size",average_deal_size)
print("Revenue ",revenue)

Name Ben
Number of calls: 300
Average deal size 8
Revenue  2400

In [241]:
#Türleri kontrol et
print("Name",type(name))
print("Number of calls:", type(call_number))
print("Average deal size",type(average_deal_size))
print("Revenue ",type(revenue))

Name <class 'str'>
Number of calls: <class 'str'>
Average deal size <class 'str'>
Revenue  <class 'str'>


Gördüğünüz gibi tüm veriler için tür dizemiz var ancak ortalama anlaşma boyutu, çağrı sayısı ve gelirin tam sayı olması gerekiyor.

📌 İnt() fonksiyonunu kullanarak verileri dönüştürün ve tekrar kontrol edin.

In [242]:
#Ortalama anlaşma boyutu, çağrı sayısı ve gelire ilişkin veri türlerini dönüştürün
average_deal_size = int(average_deal_size)
call_number = int(call_number)
revenue = int(revenue)

In [243]:
#Print out the information again
print("Name",type(name))
print("Number of calls:", type(call_number))
print("Average deal size",type(average_deal_size))
print("Revenue ",type(revenue))

Name <class 'str'>
Number of calls: <class 'int'>
Average deal size <class 'int'>
Revenue  <class 'int'>

Artık tüm çalışanların farklı dizelerini içeren listeye tüm yöntemleri ve işlevleri uygulamanız gerekiyor.

📌 İsimleri, arama sayısını, ortalama anlaşma boyutlarını ve gelirleri depolamak için boş bir liste oluşturun.

📌 Tüm verilerle birlikte listeyi yinelemek için for döngüsünü kullanın.

📌Gerekli bilgileri yazdırın.

In [244]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names = []
call_numbers = []
average_deal_sizes = []
revenues= []

In [245]:
#Loop over the whole data
for employee in lines:
    #Clean the string
    employee = employee.strip(" ")
    employee = employee.lower()
    employee =employee.capitalize()

    #Split the clean string
    split_employee = employee.split(" ")
    
    #Extract the name
    name = split_employee[0]
    call_number = split_employee[2]
    #Extract the average deal size
    for i in split_employee:
        if "$" in i:
            average_deal_size = i
            break
    average_deal_size = average_deal_size.split("$")[0]

    #Extract the revenue
    dollars_index = split_employee.index("dollars")
    revenue_index = dollars_index -1
    revenue = split_employee[revenue_index]
    
    #Convert to the correct data types
    average_deal_size = int(average_deal_size)
    call_number =int(call_number) 
    revenue = int(revenue)
    
    #Append the information to the lists
    names.append(name)
    call_numbers.append(call_number)
    average_deal_sizes.append(average_deal_size )
    revenues.append(revenue)

#Print out the information
print("Names: ",names)
print("Number of calls: ",call_numbers)
print("Averadge deal sizes: ",average_deal_sizes)
print("Revenues: ",revenues)

Names:  ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Number of calls:  [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Averadge deal sizes:  [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues:  [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

Son olarak işlevleri tanımlayarak süreci daha da kolay ve yeniden kullanılabilir hale getirebilirsiniz.

📌 "clean_extract" fonksiyonunu tanımlayın.

📌 Dönen değerleri değişkenlere atayarak kullanın.

In [255]:
#Create empty lists again
namess = []
call_numberss = []
revenuess = []

In [256]:
#Define a function to clean and extract the data
def clean_extract(lines):
    for employee in lines:
        employee = employee.strip(" ")
        employee = employee.lower()
        employee = employee.capitalize()
        
        name = split_employee[0]
        call_number = split_employee[2]
        
        for i in split_employee:
            if "$" in i:
                average_deal_size = i
                
        average_deal_size = average_deal_size.split("$")[0]
        
        dollars_index = split_employee.index("dollars")
        revenue_index = dollars_index - 1
        revenue = split_employee[revenue_index]
        
        average_deal_size = int(average_deal_size)
        call_number = int(call_number)
        revenue =int(revenue)
        
        namess.append(name)
        call_numberss.append(call_number)
        average_deal_sizess.append(average_deal_size)
        revenuess.append(revenue)
            
    return namess,call_numberss,average_deal_sizess,revenuess

In [257]:
#Assign returned values to variables
namess,call_numberss,average_deal_sizess,revenuess = clean_extract(lines)

In [258]:
#Print out the information
print("Names: ",namess)
print("Number of calls: ",call_numberss)
print("Averadge deal sizes: ",average_deal_sizess)
print("Revenues: ",revenuess)

Names:  ['Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude', 'Jude']
Number of calls:  [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80]
Averadge deal sizes:  [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]
Revenues:  [500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500]

### Performans Analizi Raporu

Artık dizeyi temizlediğinize ve işlevi kullanarak tüm bilgileri çıkardığınıza göre, geçen aya ait performans analizi raporu oluşturabilirsiniz.

📌 Her çalışana kimlik atayın.

📌 Sözlükler oluşturun.

📌 Sözlükleri sıralayın.

Öncelikle kaç çalışanın olduğunu kontrol edin ve kimlikleri atayın.

📌 len() ve range() işlevini kullanın.

In [74]:
#Check the number of employees
print(len(names))

16

In [75]:
#Generate IDs
IDs =list(range(0,11))
print(IDs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
#Check the number of IDs
len(IDs)

11

Kimlikler hazır olduğunda kimlikleri çalışanlara atamanız gerekir.

📌 Çalışanı kimlikle eşleştirmek için zip() işlevini kullanın.

📌 Zip nesnesini bir sözlüğe dönüştürün.

In [259]:
#Pair the names with the IDs in a dictionary
dictionary1 = dict((zip(IDs,names)))
dictionary1

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

Benzer şekilde çalışanlar ve gelirleri için bir sözlük oluşturun.

In [263]:
#Pair the names with the revenues
dictionary2 = dict((zip(revenues,names)))
dictionary2

{2400: 'Ben',
 60: 'Omer',
 12000: 'Karen',
 2275: 'Celine',
 500: 'Jude',
 770: 'Bora',
 4000: 'Rose',
 6000: 'Ellen',
 800: 'Bob',
 1200: 'Taylor,'}

Son olarak en iyi ve en düşük performansa sahip çalışanları bulmanız gerekiyor.

📌 Sözlüğü sorted() fonksiyonunu kullanarak artan ve azalan düzende sıralayın.

In [264]:
#Find the lowest performing employees (ascending order)
sorted_dictionary = sorted(dictionary2)[0:3]
for i in sorted_dictionary:
    print(dictionary2[i])

Omer
Jude
Bora

In [ ]:
#Find the best performing employees (descending order)
sorted_dictionary1 = sorted(dictionary2)[0:3]