#Bölüm 3: Veri temizleme alıştırması

### Satış departmanı performans analizi

İK departmanı, satış departmanındaki çalışanların performansını analiz etmek istiyor.

### Veri Okuma
Rachel, gerekli tüm bilgileri içeren bir çalışan_gelir.txt metin dosyası yazdı ancak gerekli bilgileri çıkarmak için yardıma ihtiyacı var.

Employee_revenue dosyasını çalışma dizinine yükleyerek başlayın.

📌 Metin dosyasını okuma modunda açmak ve onu "data" değişkenine atamak için .read() yöntemini kullanın.

In [35]:
#Open the file in read mode
file = open("employee_revenue.txt", "r")
data = file.read()
file.close()
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

In [36]:
#Print the data
print(data)
file.close()

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Veri temizleme

Bu satırlardan verilerin temizlenmesi ve bilgilerin çıkarılması gerektiğini görebilirsiniz.

Verileri temizleyebilmek için metni satırlara ayırmanız gerekir.

📌 .splitlines() yöntemini kullanın.

In [38]:
#Seperate the data into lines ;
lines = data.splitlines()
print(lines)

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Veriyi satır satır temizleyin

İlk satırın verilerini temizlemeye başlayın.

📌 Dizenin kenarlarındaki boşlukları kaldırmak için .strip() yöntemini kullanın.

In [39]:
#Take the first line
string = lines[0]

In [43]:
#Remove the whitespaces from the edges
string = string.strip(" ")
print(string)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size

Daha sonra, büyük harf kullanımı sorunlarını düzeltmeniz gerekir.

📌 Metni küçük harfe dönüştürmek için .lower() yöntemini kullanın.

📌 Daha sonra ilk harfi büyük yapmak için .capitalize() yöntemini kullanın.

In [45]:
#Convert the string to lowercase
string = string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size'

In [47]:
#Capitalize the first character
string = string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size'


### Bilgi Çıkarma

Bilgiyi çıkarmak için cümleyi kelimelere bölmeniz gerekir.

📌 .split() yöntemini kullanın.

In [49]:
#Split the sentece into words
split_string = string.split(" ")
split_string

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size']


Listedeki ilk öğenin isim, üçüncü öğenin ise çağrı sayısı olduğunu fark etmişsinizdir.

📌 Çağrıların adını ve sayısını çıkarmak için indeksleri kullanın

In [50]:
#Use the index 0 to access the name element
name = split_string[0]
name

'Ben'

In [52]:
#Use the index 2 to access the number of calls element
call_number = split_string[2]
call_number

'300'

Şimdiye kadar, çok iyi!

Ama gördüğünüz gibi 7. elementten sonra cümle sırası aynı değil.

Ortalama anlaşma boyutunu ortaya çıkarmak için farklı bir yaklaşım bulmanız gerekir. İlgili öğeyi bulmak için "$" işaretini kullanabilirsiniz.

📌 "$" işaretini içeren öğeyi bulmak için listenin üzerinde dolaşın.

📌 Daha sonra dizeyi sayıya ve $ işaretine bölmek için .split() yöntemini kullanın.

In [53]:
#Find the element with the "$" sign
for i in split_string:
  #Divide the number from it
    if "$" in i:
        average_deal_size = i.split("$")[0]
#Print the average deal size
average_deal_size #dolar bulunan ifadenin önünde 8 var

'8'

Benzer şekilde, "dolar" dizesinden hemen önceki öğe olan geliri elde etmek için "dolar" dizesini kullanabiliriz.

📌 "Dolar" öğesinin indeksini tanımlamak için .index() yöntemini kullanın.

📌 Daha sonra geliri belirlemek ve çıkarmak için bu endeksi kullanın.

In [54]:
#Find the index of element "dollars"
dollars_index = split_string.index("dollars")
dollars_index

7

In [57]:
#Gelir öğesinin endeksini belirlemek için endeksten birini çıkarın
revenue_index = dollars_index - 1
revenue_index

6

In [59]:
#Extract the revenue
revenue =split_string[revenue_index]
revenue

'2400'

Great! You extracted all necessary information.

📌 Print the information and check the types of the data.

In [60]:
#Çıkarılan bilgilerin çıktısını alın
print("Name",name)
print("Number of calls:", call_number)
print("Average deal size",average_deal_size)
print("Revenue ",revenue)

Name Ben
Number of calls: 300
Average deal size 8
Revenue  2400

In [61]:
#Türleri kontrol et
print("Name",type(name))
print("Number of calls:", type(call_number))
print("Average deal size",type(average_deal_size))
print("Revenue ",type(revenue))

Name <class 'str'>
Number of calls: <class 'str'>
Average deal size <class 'str'>
Revenue  <class 'str'>


Gördüğünüz gibi tüm veriler için tür dizemiz var ancak ortalama anlaşma boyutu, çağrı sayısı ve gelirin tam sayı olması gerekiyor.

📌 İnt() fonksiyonunu kullanarak verileri dönüştürün ve tekrar kontrol edin.

In [64]:
#Ortalama anlaşma boyutu, çağrı sayısı ve gelire ilişkin veri türlerini dönüştürün
average_deal_size = int(average_deal_size)
call_number = int(call_number)
revenue = int(revenue)

In [65]:
#Print out the information again
print("Name",type(name))
print("Number of calls:", type(call_number))
print("Average deal size",type(average_deal_size))
print("Revenue ",type(revenue))

Name <class 'str'>
Number of calls: <class 'int'>
Average deal size <class 'int'>
Revenue  <class 'int'>

Artık tüm çalışanların farklı dizelerini içeren listeye tüm yöntemleri ve işlevleri uygulamanız gerekiyor.

📌 İsimleri, arama sayısını, ortalama anlaşma boyutlarını ve gelirleri depolamak için boş bir liste oluşturun.

📌 Tüm verilerle birlikte listeyi yinelemek için for döngüsünü kullanın.

📌Gerekli bilgileri yazdırın.

In [66]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names = []
call_numbers = []
average_deal_sizes = []
revenues= []

In [ ]:
#Loop over the whole data

    #Clean the string
   

    #Split the clean string
    
    
    #Extract the name
    

    #Extract the average deal size
 

    #Extract the revenue


    #Convert to the correct data types


    #Append the information to the lists


#Print out the information

Finally, you can make the process even easier and reusable by defining functions.

📌 Define the function "clean_extract".

📌 Use the retured values by assigning them to variables.

In [ ]:
#Create empty lists again

In [ ]:
#Define a function to clean and extract the data

In [ ]:
#Assign returned values to variables

In [ ]:
#Print out the information

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

📌 Assign IDs to each employee.

📌 Create dictionaries.

📌 Sort the dictionaries.

First, check how many employees there are and assign the IDs.

📌 Use the len() and range() function.

In [ ]:
#Check the number of employees

In [ ]:
#Generate IDs

In [ ]:
#Check the number of IDs

With the IDs ready, you need to assign the IDs to the employees.

📌 Use the zip() function to pair the employee with the ID.

📌 Convert the zip object into a dictionary.

In [ ]:
#Pair the names with the IDs in a dictionary

Similarly, create a dictionary for the  employees and their revenues.

In [ ]:
#Pair the names with the revenues

Finally, you need to find the employees with the best and lowest performance.

📌 Sort the dictionary using the sorted() function in ascending and descending order.

In [ ]:
#Find the lowest performing employees (ascending order)

In [ ]:
#Find the best performing employees (descending order)